/* tablet devices*/

@media (max-width: 992px) {
  .blog-section {
    display: flex;
    flex-direction: column;
  }

  .blog-section .side-menu {
    width: 100%;
    height: auto;
    background: none;
  }
  .blog-section .side-menu ul {
    display: flex;
  }
  .blog-section .side-menu ul li {
    border: 1px solid var(--gray-color);
  }

  .blog-area {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
  }
  .blog-btn a {
    display: block;
    width: 50%;
    text-align: center;
  }

  .match-area {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* mobile devices*/
@media (max-width: 688px) {
  .banner-area {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .banner-area .banner-text {
    padding-right: 5px;
    text-align: center;
  }

  .banner-text h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 50px;
    color: #fff;
    padding-bottom: 20px;
  }

  .banner-area .banner-img {
    width: 74%;
    bottom: 0%;
  }

  .blog-section .side-menu {
    background-color: var(--white-color);
    height: auto;
  }

  .blog-section .side-menu ul {
    display: block;
  }
  .side-menu ul li {
    background-color: var(--white-color);
  }

  .blog-area {
    grid-template-columns: repeat(1, 1fr);
  }

  .blog-btn a {
    display: none;
  }

  .match-area {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer-content {
    height: auto;
  }
  .footer-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-content h2 {
    margin-bottom: 10px;
}
.footer-items a {
   margin:10px 0;
}
}
